:root {
    --blue: #79A9F5;
    --indigo: #C45F90;
    --purple: #A16AE8;
    --pink: #FC8BC0;
    --red: #F85C70;
    --orange: #FF8882;
    --yellow: #FAD02C;
    --green: #A3C14A;
    --teal: #20c997;
    --cyan: #47D8E0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #bc8c4c;
    --secondary: #6c757d;
    --success: #A3C14A;
    --info: #47D8E0;
    --warning: #FAD02C;
    --danger: #F85C70;
    --light: #f8f9fa;
    --dark: #212529;
    --font-family-sans-serif: "Fira Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--light);
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,h2,h3{
    text-align: center;
    font-weight: bold;
    margin: 0;
}
p, label{
    margin: .5rem 0 0 0;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.oscuro{
    color: var(--gray-dark);
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    width: 12rem;
    height: 10rem;
    border-radius: .2rem;
}

span{
    color: var(--secondary);
}

.boton{
    padding: 1rem 2rem 1rem 2rem;
    border-radius: .3rem;
    border: none;
}
.boton:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}
.enlaces-nav{
    justify-content: space-around;
}

.navegacion{
    background-color: var(--dark);
    padding-top: .5rem;
}
.navegacion:first-child{
    border-bottom: var(--gray-dark) solid .2rem;
}

.imagen-nav{
    width: 6rem;
    height: 6rem;
}

.llamenos{
    color: var(--primary);
}

.header{
    background-image: url("../img/imagen_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    padding: 2rem 0;
}
.overlay{
    text-align: center;
    margin: 0 auto;
} 
.imagen-header{
    width: 20rem;
    height: 20rem;
}
.boton-header{
    display: inline-block;
    background-color: var(--primary);
}
.boton-header:hover{
    background-color: rgba(188, 140, 76, 0.7);
}

.section{
    justify-content: center;
    .imagen-section{
        margin-right: 2.5rem;
        width: 30rem;
        height: 20rem;
        border-radius: .2rem;
    }
    .texto-section{
        width: 18rem;
        margin-left: 2.5rem;
    }
}

.footer{
    background-color: var(--dark);
    margin-top: 5rem;
}
.primer-footer{
    border-bottom: var(--gray) solid .1rem;
    padding-top: .5rem;
}
.segundo-footer{
    .copyright{
        .nombre{
            color: rgba(108, 117, 125, 0.9);
        }
    }
}

.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 1rem;
    background-color: var(--dark);
}
.texto-menu{
    width: 28rem;
}

.nosotros{
    display: flex;
    justify-content: center;
}
.texto-nosotros{
    width: 70%;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
    background-color: var(--gray-dark);
    border-radius: .5rem;
    width: 60%;
}
.form{
    padding: 1rem;
    label{
        font-weight: bold;
        text-transform: uppercase;
    }
    .entrada{
        width: 100%;
        height: 1.5rem;
        border-radius: .4rem;
        margin-bottom: 1rem;
    }
}