/*Variables para colores y fuentes*/
:root {
    --blue: #79A9F5;
    --indigo: #C45F90;
    --purple: #A16AE8;
    --pink: #FC8BC0;
    --red: #F85C70;
    --orange: #FF8882;
    --yellow: #FAD02C;
    --green: #A3C14A;
    --teal: #20c997;
    --cyan: #47D8E0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #bc8c4c;
    --secondary: #6c757d;
    --success: #A3C14A;
    --info: #47D8E0;
    --warning: #FAD02C;
    --danger: #F85C70;
    --light: #f8f9fa;
    --dark: #212529;
    --font-family-sans-serif: "Fira Sans", sans-serif;
}

/*Estilos generales, box-sizing: border-box hace que el padding y el border no alteren el alto y ancho total*/
*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--light);
}

/*ESTILOS A LOS ELEMENTOS*/
html {
  font-family: var(--font-family-sans-serif);
  -webkit-text-size-adjust: 100%; /*Asegura que el tamaño del texto no cambie al hacer zoom y se mantenga como se definio en el css*/
}

body {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.15;
}

section{
    margin: 2rem 0; /*Margen arriba y abajo en las secciones de cada pagina*/
}

h1,h2,h3,label,a{ /*Definimos los elementos que iran en negritas*/
    font-weight: bold;
}

h1,h2,h3{ /*Todos los encabezados centrados con negritas y sin margen*/
    text-align: center;
    margin: 0;
}
p{ /*Definimos un margen para los parrafos*/
    margin: .5rem 0 0 0;
}
label{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}

/*Estilos para los input que no son de tipo submit*/
input:not(input[type="submit"]){
    width: 100%;
    height: 1.5rem;
    border-radius: .4rem;
    margin-bottom: 1rem;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

img{ /*Tamaño general para las imagenes y borde*/
    width: 12rem;
    height: 10rem;
    border-radius: .2rem;
}

span{
    color: var(--secondary);
}

/*ESTILOS PARA BOTONES*/
.boton{ /*Estilos generales para nuestros botones*/
    padding: 1rem 2rem 1rem 2rem;
    border-radius: .3rem;
    border: none;
}
.boton:hover{ 
    background-color: rgba(0, 0, 0, 0.5);
}

.boton-marron{ /*Botones marrones*/
    display: inline-block;
    background-color: var(--primary);
}
.boton-marron:hover{
    background-color: rgba(188, 140, 76, 0.7);
}

/*ESTILOS A LAS CLASES*/
.oscuro{ /*Color para ciertos textos*/
    color: var(--gray-dark);
}
.texto-marron{ /*Color marron para el texto de llamenos*/
    color: var(--primary);
}

.container{ /*Estilo general para distribuir los elementos de forma horizontal en un bloque*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}
@media(max-width: 768px) { /*Cambiando la distribucion de container para que sea responsive*/
    .container{
        flex-direction: column;
    }
    li{
        margin: 1rem 0;
    }
}
.columnas{ /*Cambiamos container a columnas*/
    flex-direction: column;
}
.centrado{ /*Cambiamos la distribucion horizontal de container a centrada*/
    justify-content: center;
}
.espaciado-uniforme{ /*Cambiamos la distribucion horizontal de container a un espaciado uniforme*/
    justify-content: space-around;
}

.ancho-texto{ /*Definimos el ancho de algunos textos, inicio y menu*/
    width: 80%;
    margin-left: 1rem;
}

.navegacion{ /*Definimos estilos para la navegacion de las paginas*/
    background-color: var(--dark);
    padding: .2rem;
}
.navegacion:first-child{ /*Borde debajo de la primer navegacion*/
    border-bottom: var(--gray-dark) solid .2rem;
}

.imagen-nav{ /*Definimos el tamaño de las imagenes de la navegacion y el footer*/
    width: 6rem;
    height: 6rem;
}

.header{ /*Definimos estilos para el header de las paginas, trabajamos la imagen de fondo*/
    background-image: url("../img/imagen_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    padding: 2rem 0;
}
.overlay{ /*Alineamos todos los elementos del header en el centro*/
    text-align: center;
    margin: 0 auto;
} 
.imagen-header{ /*Definimos el tamaño de la imagen del header*/
    width: 20rem;
    height: 20rem;
}

.footer{ /*Definimos estilos para el footer de las paginas*/
    background-color: var(--dark);
    padding: .2rem;
}
.footer:first-child{ /*Borde debajo del primer footer*/
    border-bottom: var(--gray) solid .1rem;
}

.imagen-inicio{ /*Definimos el tamaño de la imagen de la pagina de inicio*/
    margin-right: 2.5rem;
    width: 30rem;
    height: 20rem;
}
.texto-inicio{ /*Definimos el ancho del texto de la pagina de inicio*/
    width: 20rem;
    margin-left: 2.5rem;
}
@media(max-width: 768px) { /*Haciendo responsive el texto e imagen de la pagina de inicio*/
    .imagen-inicio{
        margin: 0;
    }
    .texto-inicio{
        margin: 1rem 0 0 0;
        width: 80%;
    }
}

.menu{ /*Definimos la distribucion del menu como una grilla*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 1rem;
    background-color: var(--dark);
}
@media(max-width: 768px) { /*Redefinimos la grilla para que sea de 1 columna y 6 filas para que sea responsive*/
    .menu{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        .container{
            flex-direction: row;
        }
    }
}

.form{ /*Definimos los estilos del formulario*/
    background-color: var(--gray-dark);
    border-radius: .5rem;
    width: 60%;
    padding: 1rem;
}